html{
  font-size: 16px;
}

body{
  font-family: 'Suisse Intl Trial', sans-serif;
  color: var(--neutral-700);
  margin: 0rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: var(--bg);
}

section {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/*
  HEADER -------------------

*/

.logo {
  height: 1.5rem;
  width: auto;
}

.nav-bar {
  background-color: var(--neutral-00);
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-container {
  border: 1px solid var(--neutral-300);
}

.nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.nav-item {
  color: var(--neutral-700);
  font-size: 0.8rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0rem;
  display: inline-block;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-item:hover, .nav-item:focus {
  color: var(--blue-900);
}

.nav-secondary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-banner {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 8rem 6rem;
  background-color: var(--bg);
  color: var(--neutral-50);
}

.toc-container {
  background-color: var(--bg);
  padding: 3rem;
  padding-right: 10rem;
  width: fit-content;
}

.toc-element {
  padding: 0rem 6rem;
  margin-top: 4rem;
}

.toc-element h3 {
  color: var(--neutral-700);
  font-size: 1.65rem;
  margin-top: 0rem;
}

/* 
  BRANDING GUIDELINES -------------------
*/

.element {
  padding-bottom: 0.25rem;
  border-top-width: 0.075rem;
  border-top-style: solid;
  border-top-color: var(--bg);
}

.element-main {
  padding: 0rem 6rem;
}

.element-grid {
  margin: 0rem;
}

code {
  background-color: var(--bg);
  padding: 1rem;
  display: block;
  color: var(--bg-1000);
  font-size: 1rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  border-bottom-color: var(--neutral-300);
}

h1{
  font-family: "GT Super Ds Trial", serif;
  font-size: 2.5rem;
  margin-top: 0rem;
  color: var(--neutral-900);
}

h2 {
  color: var(--bg-1000);
  font-family: "GT Super Ds Trial", serif;
  margin-top: 4rem;
  font-size: 2.0rem;
}

h3 {
  color: var(--bg-900);
  font-family: "GT Super Ds Trial", serif;
  margin-top: 2rem;
  font-size: 1.65rem;
}

h4 {
  font-family: "GT Super Ds Trial", serif;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

h5 {
  font-family: "GT Super Ds Trial", serif;
  font-size: 1rem;
}

h6 {
  font-family: "GT Super Ds Trial", serif;
  font-size: 0.8rem;
}

p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/


/* Styling for the buttons */

.btn {
  width: fit-content;
  border-radius: 0.5rem;
}

.btn-default {
  display: inline-block;
  padding: 0.8em 1.5em;
  color: var(--neutral-900);
  background-color: var(--neutral-00);
  border: 1px solid var(--neutral-300);
  text-align: center;
  text-decoration: none;
  transition: border-color 0.5s ease-out;
  font-size: 1rem;
  font-weight: 100;
}

.btn-default:hover, .btn-default:focus {
  border-color: var(--neutral-700);
  background-color: var(--neutral-00);
}

.btn-primary {
  display: inline-block;
  padding: 0.8em 1.5em;
  color: var(--neutral-900);
  background-color: var(--interactive);
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  border: none;
  font-size: 1rem;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--interactive-hover);
  border: none;
}

.btn-secondary {
  display: inline-block;
  padding: 0.8em 1.5em;
  color: var(--neutral-00);
  background-color: var(--neutral-900);
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s ease-out;
  border: none;
  font-size: 1rem;
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: var(--neutral-700);
  border: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* Styling for the in-text links */

.in-text-link {
  color: var(--bg-1000);
  transition: color 0.25s ease-out;
  font-weight: 500;
  letter-spacing: 0.025rem;
}

.in-text-link:hover, .in-text-link:focus {
  color: var(--pink-600);
}

/* Styling for form elements */

form {
  display: flex;
  flex-direction: column;
  width: 20em;
  max-width: 100%;
}

label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

input {
  padding: 0.75rem 0.5rem;
  border: 1px solid var(--neutral-300);
  transition: border-color 0.5s;
  margin-bottom: 0.5rem;
  max-width:20rem;
  width:100%;
  display: block;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  color: var(--neutral-500);
}

input:hover {
  border-color: var(--pink-600); /* Change the border color on focus */
}

input:focus {
  border-color: var(--pink-600); /* Change the border color on focus */
  border-width: 1px;
  color: var(--neutral-900);
}

input:focus-visible,textarea:focus-visible {
  border: 1px solid var(--pink-600);
  outline: 0.5px solid var(--pink-600);
}

.other-input {
  padding: 0.25rem 0.5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-two-column {
  display: grid; 
  gap: 1.55rem;
  grid-template-columns: 1fr 1fr;
}

.input-three-column {
  display: grid; 
  gap: 1.55rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.radio-container {
  display: flex;
  flex-direction: column;
  margin-left: 0rem;
  margin-bottom: 1rem;
}

.radio-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;
}

.radio-input-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
}

.radio-group input[type="radio"] {
  margin: 0.35rem 0rem;
  width: 1em;
  height: 1em;
}

.checkbox-group input[type="checkbox"] {
  margin: 0rem;
  width: 1em;
  height: 1em;
}

.radio-input-group > input {
  height: 1rem;
}

.radio-label {
  margin: 0rem;
}

input[type="radio"]:hover {
  border-color: var(--pink-600);
  border-width: 1px;
}

.checkbox-group {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
  margin-left: 0rem;
}

select {
  padding: 0.75rem 0.5rem;
  border: 1px solid var(--neutral-300);
  border-radius: 0.25rem;
  transition: border-color 0.5s;
  margin-bottom: 0.5rem;
  max-width:20rem;
  width:100%;
  display: block;
  box-sizing:content-box;
  font-size: 0.75rem;
  color: var(--neutral-500);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

select:hover {
  border-color: var(--pink-600); /* Change the border color on focus */
}

select:focus {
  border-color: var(--pink-600);
  border-width: 1px;
  color: var(--neutral-900);
}

select:invalid,select option[value=""] {
  color: var(--neutral-500);
}


[hidden] {
  display: none;
}

/* Styling for images */

.image-container img {
  width: 100%;
  height: 100%;
  align-items: center;
}

.img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  background-color: var(--bg);
  border-radius: 0.5rem;
}

.img-product {
  transition: transform 0.2s;
  height: auto;
  width:10%;
  margin-right:.2rem;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.img-product:hover {
  transform: scale(1.5);
}

/* 
  TEXT ELEMENTS -------------------
*/

.text-styling {
  color: var(--neutral-700);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-styling h4 {
  font-weight: bold;
}

/* 
  COMBINED ELEMENTS -------------------
*/

/* Product Page */
.product-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-listing{
 background-color: var(--bg);
}

.product-listing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 0.5px var(--neutral-00);
}

.product-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.product-button {
  width: 100%;
  box-sizing: border-box;
  border: none;
}

.product-button:hover, .btn-secondary:focus {
  background-color: var(--neutral-700);
}

.product-name {
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
  color: var(--neutral-900)
}

.product-color {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0rem;
  margin-bottom: 0rem;
  text-align: left;
}

.product-price {
  font-weight: 600;
  color: var(--neutral-900);
  margin-bottom: 1rem;
}

.product-shade-display {
  transition: transform 0.2s;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.product-shade-crop {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid var(--neutral-300);
}

.product-shade-display:hover {
  transform: scale(1.35);
}

.product-shade-crop:hover {
  border: 1px solid var(--pink-600);
}

.product-shade-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top:0.5rem;
}

/* Payment Form */

.payment-form-section {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.payment-form-heading {
  color: var(--bg-900);
/*  font-family: GT Serif  ;*/
  margin-top: 0.5rem;
}

.payment-method-container {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

/* Checkout Cart */

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  min-height: 3rem;
}

th {
  text-align: left;
  padding: 0.5rem 1rem;
  color:var(--neutral-900);
  background: var(--bg);
  font-weight: bold;
}

.th-product{
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.th-product:last-child{
  text-align: left;
}

.th-subtotal{
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

th:last-child {
  text-align: right;
}


.cart {
  margin: 1rem auto;
}

.cart-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-right: 2rem;
  gap: 2rem;
}

.cart-product-name {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.mini-product-name {
  font-size:1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.mini-product-shade {
  font-size:1rem;
}

small {
  font-weight: 500;
  margin-top: 1rem;
}

.remove-link {
  margin-top: 2rem;
}

.quantity-box {
  max-width: 3rem;
  max-height: 2rem;
  display: flex;
  justify-self: flex-end;
}


.total-container {
  border-top: 0.5px solid var(--neutral-300);
  margin: 3rem 0rem;
  width: 100%;
  padding: 2rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-price {
  display: flex;
  justify-content: start;
  height: fit-content;
}

.total-price {
  display: flex;
  justify-content: flex-end;
  height: fit-content;
}

.final-price {
  font-weight: bold;
  font-size: 1.25rem;
}

.checkout-button {
  justify-self: end;
  min-width: 12rem;
}

/* 
  DESIGN ELEMENTS -------------------
*/

.image-container img {
  width: 100%;
  height: 100%;
}

.img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Stack Overflow. n.d. Remove white space below image. Retrieved from https://stackoverflow.com/questions/7774814/remove-white-space-below-image */

.img-crop {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.img-product {
  transition: transform 0.2s;
}

.img-product:hover {
  transform: scale(1.02);
}

.font-gt-super-ds {
  font-family: "GT Super Ds Trial", serif;
  font-size:1.25rem;
  margin-bottom: 0rem;
  color: var(--bg-1000);
}

.font-suisse {
  font-family: 'Suisse Intl Trial', sans-serif;
  font-size:1.25rem;
  margin-bottom: 0rem;
  color: var(--bg-1000);
}

.color-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.color-box {
  border: solid var(--bg) 1px;
  display: flex;
  height: 10rem;
  width: 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 50%;
}

span {
  color: var(--neutral-00);
  font-size: 1rem;
  font-weight: 500;
}

.reversed span {
  color: var(--neutral-700);
}

/* 
  FOOTER -------------------
*/

.footer-container {
  background-color: var(--bg);
  padding: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo {
  height: 3rem;
  width: auto;
  margin-right: 6rem;
  margin-bottom: 4.5rem;
}

.footer-nav-container {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  row-gap: 3rem;
  flex-wrap: wrap;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-title {
  color: var(--bg-1000);
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-family: 'GT Super Ds Trial', sans-serif;
}

.footer-link {
  color: var(--bg-900);
  text-decoration: none;
  transition: color 0.25s ease-out;
}

.footer-link:hover, .footer-link:focus {
  color: var(--pink-600);
}


/* 
  CART PAGE ELEMENTS -------------------
*/

.cart-page {
  margin-bottom: 6rem;
  padding-bottom: 0.25rem;
}

/* 
  PAYMENT PAGE ELEMENTS -------------------
*/

.order-container {
  display: flex;
  justify-content: space-between;
  justify-items: start;
}

.order-summary {
  position: sticky;
  border-left: 0.5px solid var(--neutral-300);
  padding-bottom: 6rem;
  margin-bottom: 0rem;
  padding-top: 6rem;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}

.cart-title {
  display: flex;
  justify-content: start;
  color: var(--neutral-900);
  margin: 0rem;
  padding: 1rem 0rem;
}

.img-checkout {
  max-width: 4rem;
  height: auto;
  display: block;
  object-fit: cover;
  background-color: var(--bg);
  border: solid 0.5px var(--neutral-300);
  border-radius: 0.5rem;
}

.checkout-product-name {
  font-size:1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.checkout-product-shade {
  font-size:0.75rem;
}

.checkout-qty {
  font-size: 0.75rem;
  margin-top: 1rem;
}

.checkout-price {
  font-size: 0.9rem;
}

.check-label {
  font-size: 0.75rem;
}

/* 
  SHOP PAGE ELEMENTS -------------------
*/

.shop-title {
  display: flex;
  justify-content: center;
  color: var(--bg-900);
  margin-top: 3rem;
}

.shop-section {
  margin: 6rem 0rem;
  padding: 0rem;
}

.more-button {
  margin: 4rem 0rem;
  display: flex;
  justify-content: center;
}

/* CONTACT PAGE ELEMENTS ---------------
*/

.service-hours {
  display: flex;
}

#hours{
  margin-right: 3rem;
}

.contact-information {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.contact-information img{
  margin-right:2rem;
}

.Google-Maps{
  margin-top: 7rem;
  margin-right: auto;
  margin-left: auto;
}

.Customer-Support-Feedback{
  margin-top: 2rem;
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding-bottom: 0.25rem;
}


.Customer-Support-Feedback h2{
  text-align: center;
}

.Customer-Support-Feedback input{
  max-width: 40rem;
}

textarea {
  font-family: 'Suisse Intl Trial', sans-serif;
  color: var(--neutral-700);
  margin: 0rem;
  padding: 0.25rem;
  border: 1px solid var(--blue-900);
  transition: border-color 0.5s;
  margin-bottom: 0.5rem;
  width:auto;
  max-width:40rem;
  width:100%;
  height: 20rem;
  display: block;
}

textarea:hover {
  border-color: var(--pink-600); /* Change the border color on focus */
}

textarea:focus {
  border-color: var(--pink-600); /* Change the border color on focus */
  border-width: 0.25rem;
}

textarea:focus-visible,textarea:focus-visible {
  border: 0.1rem solid var(--pink-600);
  outline: 0.05rem solid var(--pink-600);
}

.support-button {
  justify-self: end;
  min-width: 12rem;
}

/* PRODUCT PAGE  ----------------------
*/

.product-image{
  width: 90%;
  margin-top: 6rem;
  background-color: var(--bg);
}


.product-image img{
  width: auto;
  margin: auto;
}

.product-details{
  width: auto;
  margin-top: 6rem;
}

.item-add{
  margin-top: 1rem;
}

.item-add input{
  max-width: auto;
  align-items: center;
  margin-right: 2rem;
}

.product-shades {
  width:45%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top:0.5rem;
  margin-bottom: 0.5rem;
  background-color: none;
}

.product-reccs{
  background-color: var(--bg);
  margin: 0rem;
  padding: 0.25rem;
  border: 2px solid var(--neutral-00);
  max-width: 14rem;
}

.product-reccs img{
  width:auto;
  max-width: 8rem;
  margin-left: auto;
  margin-right: auto;
}

.product-reccs h5{
  font-size: 0.8rem;
  font-weight: 100;
  margin-bottom: 0rem;
}

.product-reccs h4{
  font-size: 1rem;
  margin-top: 0.5rem;
}

.product-review{
  border: 1px solid var(--neutral-300);
}

.related-items h3{
  font-size: 1.5rem;
  color: var(--neutral900);
}

/* ABOUT PAGE  ----------------------
*/

.about-nebula{
  background-color: var(--bg);
  width:100%;
  align-items: center;
}

.founder-quote{
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.about-inclusivity{
  background-color: var(--bg);
  align-items: center;
}

.about-content{
  margin-right: 6.5rem;
  margin-left: 6.5rem;
}

.about-content p{
  margin-bottom: 1rem;
}

.about-content h3, h5{
  text-align: center;
}

.about-images {
  margin: 5rem;
}

.about-images-product {
  margin: 0rem;
}

.about-images img{
  width: auto;
  max-width: 25rem;
}

.about-images-product img{
  width: auto;
  max-width: 35rem;
}

/* LANDING PAGE  ----------------------
*/

/* Homepage: Banner */

figure {
  margin: 0;
  padding: 0;
}

.banner-img {
  align-items: right;
  width: 100vw;
  height: auto;
}

.banner-section {
  margin: 0;
  position:relative;
  padding: 0;
}

@media (min-width: 0rem) {
  .banner-img {
    align-items: right;
    width: 100vw;
    height: 50rem;
    object-fit: cover;
    object-position: center;
    padding: 0;
    margin: 0;
    display: block;
  } 
  .banner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .banner-title {
    font-size: 3rem;
    max-width: 32rem;
    margin: 0 0 2rem 0;
    color: var(--bg);
  }  
  .banner-content {
    margin: 0 0 2rem 0;
    max-width: 32rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--neutral-00);
  }
}

@media (min-width: 68rem) {
  .banner-img {
    align-items: right;
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
    object-fit: cover;
    display: block;
  }  
  .banner-container {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right:6rem;
    text-align: left;
  }
  .banner-title {
    font-size: 3rem;
    max-width: 32rem;
    margin: 0 0 2rem 0;
    color: var(--bg);
  }  
  .banner-content {
    margin: 0 0 2rem 0;
    max-width: 32rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--neutral-00);
  }
}

/* Homepage: Greeting */


.greeting-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 8rem 0rem;
}

.greeting-title {
  font-size: 3rem;
  margin: 0 0 2rem 0;
}

.greeting-content {
  margin: 0 0 4rem 0;
  max-width: 40rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.greeting-img-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Homepage: Bestseller Listing */

.bestseller-section {
  margin: 8rem 0 0 0;
}

/* Homepage: Event */

.event-section {
  margin: 0;
  position:relative;
  padding: 0;
}

@media (min-width: 0rem) {
  .event-img {
    align-items: right;
    width: 100vw;
    height: 50rem;
    object-fit: cover;
    object-position: center;
    padding: 0;
    margin: 0;
    display: block;
  } 
  .event-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .event-title {
    font-size: 3rem;
    max-width: 32rem;
    margin: 0 0 2rem 0;
    color: var(--bg);
  }  
  .event-content {
    margin: 0 0 2rem 0;
    max-width: 32rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--neutral-00);
  }
}

@media (min-width: 68rem) {
  .event-img {
    align-items: right;
    width: 100vw;
    height: auto;
    padding: 0;
    margin: 0;
    object-fit: cover;
    display: block;
  }  
  .event-container {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    right:6rem;
    text-align: left;
  }
  .event-title {
    font-size: 3rem;
    max-width: 32rem;
    margin: 0 0 2rem 0;
    color: var(--bg);
  }  
  .event-content {
    margin: 0 0 2rem 0;
    max-width: 32rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--neutral-00);
  }
}

/* Homepage: About */

.about-img {
  padding: 0;
  margin: 0;
  width: 50vw;
  height: auto;
  object-fit: cover;
  display: block;
}

.about-title {
  font-size: 3rem;
  margin: 0 0 2rem 0;
}

.about-content {
  margin: 0 0 2rem 0;
  max-width: 40rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

@media (min-width: 0rem) {
  .about-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-img {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    object-fit: cover;
    display: block;
  }
  .about-container {
    margin: 6rem;
    padding: 0;
    text-align: center;
  }
}

@media (min-width: 60rem) {
  .about-section {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align items to the left */
    align-items: flex-start; /* Align items to the top */
  }
  .about-img {
    margin: 0;
    padding: 0;
    margin-right: 6rem; /* Add some spacing between image and text */
    width: 50vw;
    height: auto;
    object-fit: cover;
    display: block;
  }
  .about-container {
    margin: auto 0; /* Vertically center align when small */
    margin-right: 6rem;
    padding: 0;
    text-align: left;
  }
}