:root {
    /* BRAND COLORS */
    --bg: #EAEEEF;
    --bg-900:#9EB2B7;
    --bg-1000:#7D989F;
 
    --interactive: #AFD1DE;
    --interactive-hover: #7BB4CA;
  
    /*Primary */
    --blue-600: #AFD1DE;
    --blue-700: #95C4D6;
    --blue-900: #7BB4CA;

    /*Secondary */
    --pink-600:#D0B4D2;

    --neutral-00: #FFFFFF;
    --neutral-300: #D8D8D8;
    --neutral-500: #6A6A6A;
    --neutral-700: #404040;
    --neutral-900: #202020;
  }

  .color-bg {
    background-color: var(--bg);
  }

  .color-bg-900 {
    background-color: var(--bg-900);
  }

  .color-bg-1000 {
    background-color: var(--bg-1000);
  }

  .color-blue-600 {
    background-color: var(--blue-600);
  }

  .color-blue-700 {
    background-color: var(--blue-700);
  }

  .color-blue-900 {
    background-color: var(--blue-900);
  }

  .color-pink-600 {
    background-color: var(--pink-600);
  }
  
  .color-neutral-900 {
    background-color: var(--neutral-900);
  }

  .color-neutral-700 {
    background-color: var(--neutral-700);
  }

  .color-neutral-300 {
    background-color: var(--neutral-300);
  }

  .color-neutral-00 {
    background-color: var(--neutral-00);
  }